%h1 Listing doctemps

%table
  %thead
    %tr
      %th Dateofsigning
      %th Placeofsigning
      %th Nameofprincipal
      %th Nameofagent

  %tbody
    - @doctemps.each do |doctemp|
      %tr
        %td= doctemp.dateofsigning
        %td= doctemp.placeofsigning
        %td= doctemp.nameofprincipal
        %td= doctemp.nameofagent
        %td= link_to 'Show', doctemp
        %td= link_to 'Download', doctemp, format: :pdf
        %td= link_to 'Edit', edit_doctemp_path(doctemp)
        %td= link_to 'Destroy', doctemp, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Doctemp', new_doctemp_path
