= stylesheet_link_tag wicked_pdf_asset_base64("pdf")

#doctitle.h1	<center>SPECIAL POWER OF ATTORNEY</center>
%br/
%br/
#legaldoc
  .p	I, <strong>#{@doctemp.nameofprincipal}</strong>, of legal age, <strong>#{@doctemp.nationalityofprincipal}</strong> with <strong>#{@doctemp.businessofprincipal}</strong> address at <strong>#{@doctemp.addressofprincipal}</strong> do hereby name, constitute, and appoint <strong>#{@doctemp.nameofagent}</strong> of legal age, <strong>#{@doctemp.nationalityofagent}</strong> with <strong>#{@doctemp.businessofagent}</strong> address at <strong>#{@doctemp.addressofagent}</strong> as my true and lawful agent and attorney-in-fact, and for and on my behalf, and in my name, place, and stead do the following acts:
  %br/
  .p	1.	To represent me in transacting with <strong>#{@doctemp.nameofagencyoroffice}</strong> in relation to <strong>#{@doctemp.transaction}</strong> and perform the following acts:
  %ul
    %li <strong>#{@doctemp.acts} </strong>
    %li <strong>#{@doctemp.acts} </strong>
  .p	2.	To sign and execute, for and on my behalf, documents, papers, and instruments as may be necessary to effect the foregoing transaction; and
  %br/
  .p	3. To do and perform all such other acts and things requisite and/or necessary to effectively carry out the above-mentioned functions.
  %br/
  .p	HEREBY GRANTING unto the above-named attorney-in-fact full power and authority to do and perform any and all other acts and things necessary, proper and/or convenient to be done to effectively and successfully carry out the above-mentioned transaction, as though I myself have so performed it. This Special Power of Attorney remains in full force and effect until revoked in writing.
  %br/
  .p	IN WITNESS WHEREOF, I have hereunto affixed my signature this day of <strong>#{@doctemp.dateofsigning}</strong> in <strong>#{@doctemp.placeofsigning}</strong>.
  %br/
  %br/
  #principalsig
    _______________________
    %br/
    <strong>#{@doctemp.nameofprincipal}</strong>
    %br/

    <strong>Principal</strong>
    %br/
With my conforme:
%br/
________________________
%br/
<strong>#{@doctemp.nameofagent}</strong>
%br/
<strong>Agent/Attorney-in-Fact</strong>
%br/
%br/
SUBSCRIBED AND SWORN TO BEFORE ME, this day of _______________ in _____________________, affiant exhibiting to me his/her_________________ issued on _________________ 2017 at _____________.
%br/
%br/
%br/
%table{:border => 0}
  %tbody
    %tr
      %td{:width => "50%"} Doc. No. _____;
      %td NOTARY PUBLIC
    %tr
      %td Page No. _____;
    %tr
      %td Book No. _____:
    %tr
      %td Series of 2017.
